#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

&trackball {
    automouse-layer = <4>;
    scroll-layers = <5>;

    // arrows {
    //     layers = <3>;
    //     bindings =
    //         <&kp RIGHT_ARROW>,
    //         <&kp LEFT_ARROW>,
    //         <&kp UP_ARROW>,
    //         <&kp DOWN_ARROW>;
    //     tick = <10>;
    //     wait-ms = <5>;
    //     tap-ms = <5>;
    // };
};

/ {
    combos { compatible = "zmk,combos"; };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        for_macOS {
            bindings = <
&kp Q             &kp W         &kp E             &kp R                 &kp T                                                                &kp Y        &kp U  &kp I      &kp O    &kp P
&kp A             &kp S         &kp D             &kp F                 &kp G            &kp LS(LG(S))                &kp LEFT_PARENTHESIS   &kp H        &kp J  &kp K      &kp L    &lt 5 SEMICOLON
&mt LEFT_SHIFT Z  &kp X         &kp C             &kp V                 &kp B            &kp COLON                    &kp RIGHT_PARENTHESIS  &kp N        &kp M  &kp COMMA  &kp DOT  &mt RIGHT_SHIFT SLASH
&kp LCTRL         &kp LEFT_ALT  &kp LEFT_COMMAND  &lt_to_layer_0 6 TAB  &lt 4 BACKSPACE  &lt_to_layer_0 3 DELETE      &lt 7 SPACE            &lt 1 ENTER                             &mt RIGHT_COMMAND MINUS
            >;

            sensor-bindings = <&inc_dec_kp PG_UP PAGE_DOWN>;
        };

        for_iPadOS {
            bindings = <
&kp Q             &kp W         &kp E             &kp R                 &kp T                                                                &kp Y        &kp U  &kp I      &kp O    &kp P
&kp A             &kp S         &kp D             &kp F                 &kp G            &kp LS(LG(S))                &kp LEFT_PARENTHESIS   &kp H        &kp J  &kp K      &kp L    &lt 5 SEMICOLON
&mt LEFT_SHIFT Z  &kp X         &kp C             &kp V                 &kp B            &kp COLON                    &kp RIGHT_PARENTHESIS  &kp N        &kp M  &kp COMMA  &kp DOT  &mt RIGHT_SHIFT SLASH
&kp LCTRL         &kp LEFT_ALT  &kp LEFT_COMMAND  &lt_to_layer_0 6 TAB  &lt 4 BACKSPACE  &lt_to_layer_0 3 DELETE      &lt 7 SPACE            &lt 1 ENTER                             &mt RIGHT_COMMAND MINUS
            >;
        };

        for_Windows {
            bindings = <
&kp Q             &kp W         &kp E         &kp R                 &kp T                                                                &kp Y        &kp U  &kp I      &kp O    &kp P
&kp A             &kp S         &kp D         &kp F                 &kp G            &kp LS(LG(S))                &kp LEFT_PARENTHESIS   &kp H        &kp J  &kp K      &kp L    &lt 5 SEMICOLON
&mt LEFT_SHIFT Z  &kp X         &kp C         &kp V                 &kp B            &kp COLON                    &kp RIGHT_PARENTHESIS  &kp N        &kp M  &kp COMMA  &kp DOT  &mt RIGHT_SHIFT SLASH
&kp LEFT_CONTROL  &kp LEFT_GUI  &kp LEFT_ALT  &lt_to_layer_0 6 TAB  &lt 4 BACKSPACE  &lt_to_layer_0 3 DELETE      &lt 7 SPACE            &lt 1 ENTER                             &mt RIGHT_CONTROL MINUS
            >;
        };

        Function_Symbol {
            bindings = <
&kp EXCL  &kp AT_SIGN  &kp HASH  &kp DOLLAR  &kp PERCENT                      &kp CARET  &kp AMPERSAND  &kp ASTRK  &kp SINGLE_QUOTE  &kp DOUBLE_QUOTES
&trans    &trans       &trans    &trans      &trans       &trans      &trans  &trans     &trans         &trans     &trans            &trans
&kp F1    &kp F2       &kp F3    &kp F4      &kp F5       &kp F6      &kp F7  &kp F8     &kp F9         &kp F10    &kp F11           &kp F12
&trans    &trans       &trans    &trans      &trans       &trans      &trans  &trans                                                 &kp F13
            >;
        };

        Numbers {
            bindings = <
&kp PLUS   &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &trans                                &trans           &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &trans
&kp MINUS  &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &trans      &trans         &trans     &trans           &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &trans
&kp ASTRK  &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp PERIOD  &kp EQUAL      &kp EQUAL  &kp KP_NUMBER_0  &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp PERIOD
&kp SLASH  &kp KP_NUMBER_0  &trans           &trans           &trans      &trans         &trans     &trans                                                              &trans
            >;
        };

        MOUSE {
            bindings = <
&trans  &trans  &trans  &trans  &trans                                 &trans           &trans    &trans    &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans             &trans           &mkp MB1  &mkp MB2  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &kp K_SCROLL_DOWN  &kp K_SCROLL_UP  &trans    &trans    &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &mkp MB4           &mkp MB5                                     &trans
            >;
        };

        ARROW {
            bindings = <
&trans  &trans          &kp UP_ARROW    &trans           &trans                                     &trans   &trans    &kp UP_ARROW    &trans           &trans
&trans  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &trans  &trans      &trans                 &trans   &kp LEFT  &kp DOWN_ARROW  &kp RIGHT_ARROW  &trans
&trans  &trans          &trans          &trans           &trans  &trans      &trans                 &trans   &trans    &trans          &trans           &trans
&trans  &trans          &trans          &trans           &trans  &trans      &kp LA(RIGHT_CONTROL)  &kp RET                                             &trans
            >;

            sensor-bindings = <&inc_dec_kp LC(PAGE_UP) LC(PAGE_DOWN)>;
        };

        BT_setting {
            bindings = <
&trans  &trans  &trans  &trans        &trans                                          &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&trans  &trans  &trans  &trans        &trans           &trans                 &trans  &trans        &trans        &trans        &trans        &trans
&trans  &trans  &trans  &trans        &trans           &trans                 &trans  &trans        &trans        &trans        &trans        &bt BT_CLR
&trans  &trans  &trans  &kp CAPSLOCK  &kp LOCKING_NUM  &kp LG(LC(LA(P)))      &trans  &trans                                                  &bt BT_CLR_ALL
            >;
        };
    };
};
